/* Filename: Experiences.css */

:root {
    font-family: 'Roboto', sans-serif;
    --title-color: #CDDC39;
}

body {
    color: #fff;
    /* Establecer color de texto predeterminado en blanco */
}

.experiences {
    margin: 1rem auto;
    padding: 0.5rem;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    /* En dispositivos pequeños, las secciones se apilan verticalmente */
    gap: 1rem;
}

.work-experiences,
.education-experiences {
    width: 100%;
    /* En dispositivos pequeños, las secciones toman el ancho completo */
}

.experience {
    margin: 0.5rem 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    flex: 0 0 100%;
    /* Las tarjetas ocupan el ancho completo en dispositivos pequeños */
}

.experiences>section {
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.experiences>section>h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
    color: var(--title-color);
    /* Ocupa todo el ancho para que pueda centrarse */
}

.experience:last-child {
    margin-bottom: 0;
}

.experience img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}

.placeholderIcon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 50%;
    font-size: 1.5rem;
}

.experience h4 {
    margin-top: 1rem;
    color: var(--title-color);
}

.experience ul {
    margin: 0.5rem 0;
    padding-left: 1.5rem;
    list-style-type: square;
    text-align: left;
}

.experience p {
    font-size: 1rem;
    color: #fff;
    /* Establecer color de texto en blanco */
}

.organization {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
    margin-bottom: 5px;
    /* Espacio entre la imagen y el nombre de la empresa */
}

.organization img {
    flex-shrink: 0;
}

.organization-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.organization-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fff;
}

.organization-info h3,
.organization-name {
    font-weight: bold;
    color: var(--title-color);
    /* Texto en negrita */
}

.organization-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

/* Para pantallas más grandes */
@media only screen and (min-width: 768px) {
    .experiences {
        flex-direction: row;
        /* Las secciones se alinean horizontalmente en pantallas más grandes */
        justify-content: space-between;
    }

    .work-experiences,
    .education-experiences {
        flex: 0 0 calc(50% - 1rem);
        /* En pantallas grandes, cada sección toma el 50% del ancho (menos un pequeño margen) */
    }
}

@media only screen and (min-width: 1024px) {
    .experience {
        flex: 0 0 calc(100% - 1rem);
        /* Las tarjetas ocupan el 100% del ancho de su contenedor en pantallas grandes */
    }
}